@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Inter;
}

#about {
  border: 1px solid black;
  margin: 38px;
  padding: 51px;
}
#about > a {
  color: #000;
  font-size: 40px;
}
#about > p {
  color: #000;
  font-size: 40px;
}

#images > h2 {
  font-size: 64px;
  font-weight: 700;
  text-decoration-line: underline;
}
#images > img {
  width: 1051px;
  height: 762px;
}

#images > a {
  font-size: 40px;
  text-decoration-line: underline;
}
#features,#images{
    margin: 58px;
}
#features > h2 {
  font-size: 64px;
  font-weight: 700;
  text-decoration-line: underline;
}
#features > ol > li {
  font-size: 40px;
}
